[workspace]
members = [
    "common",
    "ess",
    "examples/applications/cloud-object-detection",
    "examples/applications/dog-mode-logic",
    "examples/applications/kv-app",
    "examples/applications/local-object-detection",
    "examples/applications/lt-consumer",
    "examples/applications/lt-provider",
    "examples/applications/mock-vas",
    "examples/applications/simulated-camera",
    "examples/common",
    "keyvalue",
]

exclude = []

[package]
name = "chariott"
version = "0.1.0"
edition = "2021"
license = "MIT"

[[test]]
name = "store-e2e"
test = false

[dependencies]
async-recursion = "1.0"
async-trait = { workspace = true }
chariott-common = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
tonic = { workspace = true }
tonic-reflection = "0.5"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }

[workspace.dependencies]
anyhow = "1.0"
async-trait = "0.1"
chariott-common = { path = "./common/" }
futures = { version = "0.3" }
lazy_static = "1.4.0"
prost = "0.11"
prost-types = "0.11"
regex = "1.6"
serde = "1.0.144"
serde_json = "1.0.86"
tokio = { version = "1.21.2", features = ["macros"] }
tokio-util = "0.7.3"
tokio-stream = { version = "0.1", features = ["net"] }
tonic = "0.8"
tonic-build = "0.8"
tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
uuid = { version = "1.2.1", features = ["v4"] }
url = "2.2"

[build-dependencies]
tonic-build = { workspace = true }

[dev-dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
examples-common = { path = "./examples/common" }
futures = { workspace = true }
tokio-util = { workspace = true }
uuid = { workspace = true }
tokio-stream = { workspace = true }

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
